@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: 'Outfit', sans-serif;
}
body{
  @apply bg-[#020617]
}
.scroll::-webkit-scrollbar{
  display: none;
}

.active li{
  @apply opacity-100
}

.slide-in{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
  background: #07011f;
}

.slide-out{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform-origin: top;
  background: #07011f;
}